
body {
	padding: 0;
	margin: 0;
}

header {
    background-color: #121212eb;
    padding: 5px 0;
	align-items: center;
	justify-content: space-between;
	max-width: 900px;
	margin: 0 auto;
	border-bottom: 1px solid #bbb;
}

.p_one{
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 900px;
    margin: 0 auto;
    border-bottom: 1px solid #bbb;
}


.logo {
	display: flex;
	align-items: center;
	margin-left: 1rem;
}

.logo img {
	width: 80px;
	height: auto;
}

.headings {
	display: flex;
	flex-direction: column;
	margin-left: .5rem;
}

.headings h1 {
	font-size: 1.5rem;
}

.m {
	letter-spacing: 1pt;
	color: forestgreen;
	font-weight: 700;
	font-size: 0.8rem;
}

.social {
	margin-right: 1.5rem;
}

.social svg {
	width: 25px;
	height: auto;
}

 
@media only screen and (min-width: 32.5em) {
	header img {
		width: 100%;
	}

	.headings h1 {
		font-size: 2rem;
		margin: 0;
	}

	.m {
		letter-spacing: 1.5pt;
		font-size: 0.9rem;
	}
}

.directions{
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.discover{
    width: 70px;
    text-align: center;
}

.discover a {
    font-family: "ubuntu condensed", sans-serif;
    color: #cbcbcb;
    text-decoration: none;
}

.directory{
    width: 70px;
    text-align: center;
}

.directory a {
    font-family: "ubuntu condensed", sans-serif;
    color: #cbcbcb;
    text-decoration: none;
}

.join{
    width: 70px;
    text-align: center;
}

.join a {
    font-family: "ubuntu condensed", sans-serif;
    color: #cbcbcb;
    text-decoration: none;
}

.contact{
    width: 70px;
    text-align: center;
}

.contact a {
    font-family: "ubuntu condensed", sans-serif;
    color: #cbcbcb;
    text-decoration: none;
}

.date,
aside {
	margin: 0.5rem;
	border: 1px solid #bbb;
	padding: 0.75rem;
	background-color: #eee;
}

.body {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 2em;
	font-family: hebrew;
	color: navy;
}

.box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr 1fr 1fr;
    justify-items: center;
    grid-gap: 10px;
    max-width: 900px;
    margin: 0 auto;
}

.box1{
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    background-color: #afa5a5;
    display: flex;
    justify-content: center;
}

.box2{
    grid-column: 1;
    grid-row: 2;
    width: 100%;
    background-color: #afa5a5;
    display: flex;
    justify-content: center;
}

.box3{
    grid-column: 1;
    grid-row: 3;
    width: 100%;
    background-color: #afa5a5;
    display: flex;
    justify-content: center;
}

.box4{
    grid-column: 2;
    grid-row: 1 / span 2;
    width: 100%;
    background-color: #afa5a5;
    display: flex;
    justify-content: center;
}

.box5{
    grid-column: 2;
    grid-row: 3;
    width: 100%;
    background-color: #afa5a5;
    display: flex;
    justify-content: center;
}

.box6{
    grid-column: 3;
    grid-row: 1 / span 3;
    width: 100%;
    background-color: #afa5a5;
    display: grid;
    justify-content: center;
}

.ineterbox1{
    border: solid 1px black;
    margin: 5px;
}

.ineterbox2{
    border: solid 1px black;
    margin: 5px;
}

.ineterbox3{
    border: solid 1px black;
    margin: 5px;
}

footer {
    background-color: #121212eb;
    padding: 5px 0;
	align-items: center;
	justify-content: space-between;
	max-width: 900px;
	margin: 0 auto;
	border-bottom: 1px solid #bbb;
}

.info_basic{
    display: flex;
    justify-content: inherit;
    
}

.location {
    font-family: "ubuntu condensed", sans-serif;
    color: #cbcbcb;
    text-decoration: none;
}

.location a{
    font-family: "ubuntu condensed", sans-serif;
    color: #cbcbcb;
    text-decoration: none;
}

p{
    font-family: "ubuntu condensed", sans-serif;
    color: #cbcbcb;
    text-decoration: none;
    display: flex;
    justify-content: center;
}




